@model IEnumerable<Digoel.Models.PasswordStorage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span style="font-weight:bold;">Password Storages </span>   <span class="pull-right"> @Html.ActionLink("Save New Password", "Create", null, null, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-plus" }) </span>
                </div>

                <div class="panel-body">
                    <table class="table table-bordered table-responsive table-hover">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Website)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateSaved)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Website)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateSaved)
                                </td>
                                <td>
                                    @Html.ActionLink(" Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm glyphicon glyphicon-pencil" })
                                    @Html.ActionLink(" Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm glyphicon glyphicon-eye-open" })
                                    @Html.ActionLink(" Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm glyphicon glyphicon-trash" })
                                    @Html.ActionLink(" Strength Check", "Index", "StrengthCheck", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>


</div>




@section scripts{
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

        $(document).ready(function () {


            $(".strength_check_class").on('click', function () {
                debugger;

                 var   id = $(this).closest("tr").find("td:eq(0)").val();
                var generated_password = $("#generated_password").val();


                      var data = JSON.stringify({ generated_password: generated_password });
                debugger;
                $.ajax({
                    type: "POST",
                    url: "/PasswordStorage/GivenPassword",
                    contentType: "application/json; charset=utf-8",
                    datatType: "json",
                    data: data,
                    success: function (data) {
                         $("#generated_password").val(data.generated_password);
                          var url= '@Url.Action("Create","PasswordStorage")';
                          window.open(url, "_blank");
                    },
                    error: function (ex) {
                        console.log(ex.error);
                    },
                    async: false
                });

                  });


    </script>
}
